<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/Styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container-login">
        <h2 class="center-button">Agregar Materias</h2>
        <div id="message"></div>
        <form id="createMatter">
            <div class="mb-3">
                <label for="nameMatter" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nameMatter" aria-describedby="userHelp" required>
            </div>
            <div class="mb-3">
                <label for="credits" class="form-label">Creditos</label>
                <input type="number" class="form-control" id="credits" aria-describedby="userHelp" required>
            </div>
            <div class="mb-3">
                <label for="teacher" class="form-label">Escoge 1 Profesor</label>
                <select class="form-select" aria-label="Seleccione un profesor" id="teacher">
                    <option value="">Seleccione un profesor</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
    <script src="/Matter.js"></script>
</body>
</html>